In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
client=MongoClient()
db = client.face_rec
collection_names = db.names

In [5]:
'''collection_names.insert_many([
   { '_id':1, 'name': 'Juan_Ivan', 'age': 24, 'phone': 5538184717, 'email': 'coldcram14@hotmail.com' },
   { '_id':2, 'name': 'Winona_Ryder', 'age': 38, 'phone': 8638184897, 'email': 'Winona_Ryder@gmail.com' },
   { '_id':3, 'name': 'Paul_Bremer', 'age': 50, 'phone': 2333249489, 'email': 'Paul_Bremer@gmail.com' }, 
   { '_id':4, 'name': 'Jennifer_Aniston', 'age': 45, 'phone': 6821549489, 'email': 'Jennifer_Aniston@gmail.com' },
   { '_id':5, 'name': 'James_Blake', 'age': 38, 'phone': 6828569489, 'email': 'James_Blake@gmail.com' },
   { '_id':6, 'name': 'Alvaro_Uribe', 'age': 40, 'phone': 6828235489, 'email': 'Alvaro_Uribe@gmail.com' },
   { '_id':7, 'name': 'Andre_Agassi', 'age': 50, 'phone': 6821234489, 'email': 'Andre_Agassi@gmail.com' },
   { '_id':8, 'name': 'Angelina_Jolie', 'age': 50, 'phone': 6812384489, 'email': 'Angelina_Jolie@gmail.com' },
   { '_id':9, 'name': 'Bill_Gates', 'age': 60, 'phone': 6812381234, 'email': 'Bill_Gates@gmail.com' },
   { '_id':10, 'name': 'Abdullah_Gul', 'age': 60, 'phone': 6811231234, 'email': 'Abdullah_Gul@gmail.com' }
])'''

In [11]:
dicts = [{ '_id':1, 'name': 'Juan_Ivan', 'age': 24, 'phone': 5538184717, 'email': 'coldcram14@hotmail.com' },
   { '_id':2, 'name': 'Winona_Ryder', 'age': 38, 'phone': 8638184897, 'email': 'Winona_Ryder@gmail.com' },
   { '_id':3, 'name': 'Paul_Bremer', 'age': 50, 'phone': 2333249489, 'email': 'Paul_Bremer@gmail.com' }, 
   { '_id':4, 'name': 'Jennifer_Aniston', 'age': 45, 'phone': 6821549489, 'email': 'Jennifer_Aniston@gmail.com' },
   { '_id':5, 'name': 'James_Blake', 'age': 38, 'phone': 6828569489, 'email': 'James_Blake@gmail.com' },
   { '_id':6, 'name': 'Alvaro_Uribe', 'age': 40, 'phone': 6828235489, 'email': 'Alvaro_Uribe@gmail.com' },
   { '_id':7, 'name': 'Andre_Agassi', 'age': 50, 'phone': 6821234489, 'email': 'Andre_Agassi@gmail.com' },
   { '_id':8, 'name': 'Angelina_Jolie', 'age': 50, 'phone': 6812384489, 'email': 'Angelina_Jolie@gmail.com' },
   { '_id':9, 'name': 'Bill_Gates', 'age': 60, 'phone': 6812381234, 'email': 'Bill_Gates@gmail.com' },
   { '_id':10, 'name': 'Abdullah_Gul', 'age': 60, 'phone': 6811231234, 'email': 'Abdullah_Gul@gmail.com' }]

In [12]:
dic = pd.DataFrame(dicts)
dic.head()

   _id              name  age       phone                       email
0    1         Juan_Ivan   24  5538184717      coldcram14@hotmail.com
1    2      Winona_Ryder   38  8638184897      Winona_Ryder@gmail.com
2    3       Paul_Bremer   50  2333249489       Paul_Bremer@gmail.com
3    4  Jennifer_Aniston   45  6821549489  Jennifer_Aniston@gmail.com
4    5       James_Blake   38  6828569489       James_Blake@gmail.com

In [14]:
#dic.to_csv('buyer_information.csv')