In [41]:
import json
import pandas as pd
#from watson_developer_cloud import VisualRecognitionV3

In [124]:
fruits_class = {'banana': 2, 'strawberry': 3, 'pear': 2}
things_class =  {'car': 5, 'airplane': 9, 'banana': 1}

In [127]:
products = dict(fruits_class.items() | things_class.items())

total_items = pd.DataFrame(products.items(),columns=['Product', 'Price'])
total_items.loc['Total'] = pd.Series(total_items['Price'].sum(), index = ['Price'])
total_items

          Product  Price
0             car    5.0
1      strawberry    3.0
2          banana    2.0
3        airplane    9.0
4            pear    2.0
Total         NaN   21.0

In [123]:
print(products)

{'car': 5, 'strawberry': 3, 'banana': 2, 'airplane': 9, 'pear': 2}